Resolucion 2do Parcial/Ejercicio1/Consumir/Consumir/Connected Services/ServicioSegip/wsSegip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerapellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoapellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechanacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estadocivil" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComprobarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerapellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoapellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechanacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estadocivil" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprobarDatosResult" type="tns:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="coincidecarnet" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincidenombres" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincideprimerapellido" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincidesegundoapellido" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincidefechanacimiento" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincidesexo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="coincideestadocivil" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobarDatos" />
  </wsdl:message>
  <wsdl:message name="ComprobarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobarDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSegipSoap">
    <wsdl:operation name="ObtenerDatos">
      <wsdl:input message="tns:ObtenerDatosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarDatos">
      <wsdl:input message="tns:ComprobarDatosSoapIn" />
      <wsdl:output message="tns:ComprobarDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSegipSoap" type="tns:wsSegipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarDatos">
      <soap:operation soapAction="http://tempuri.org/ComprobarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSegipSoap12" type="tns:wsSegipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarDatos">
      <soap12:operation soapAction="http://tempuri.org/ComprobarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSegip">
    <wsdl:port name="wsSegipSoap" binding="tns:wsSegipSoap">
      <soap:address location="http://localhost:1923/wsSegip.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSegipSoap12" binding="tns:wsSegipSoap12">
      <soap12:address location="http://localhost:1923/wsSegip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>